body > header{
    display: inline-block;
    height: 40px;
    padding: 10px 20px;
    background-color: rgb(72, 72, 255);
    color: cornsilk;
    line-height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    
}

aside{
    display: inline-block;
    width: 100px;
    background-color: darkgray;
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    
}

#feed{
    display: inline-block;
    min-width: 500px;
    width: calc(100% - 280px);
    max-width: 800px;
    margin: 80px 0 80px 140px;
}

#messenger{
    display: inline-block;
    width: 100px;
    background-color: rgb(117, 117, 117);
    position: fixed;
    top: 40px;
    right: 0;
    bottom: 0;
    
}