.post {
    display: inline-block;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #f5f5f5;
}
    .post + .post {
        margin-top: 40px;
    }

.post > header {
    display: inline-block;
    width: 100%;
    padding: 10px;
    
}
    .post > header> .user-img {
        display: inline-block;
        float: left;
        width: 60px;
        height: 60px;

    }
        .post .user-img > img {
            display: inline-block;
            float: left;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 1px solid #cccccc;

        }
    .post > header> .texts {
        display: inline-block;
        float: left;
        width: calc( 100% - 100px);
        padding: 0 20px;


    }
        .post .author {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px;
            
        }
        .post .author > a {
            display: inline-block;
            line-height: 30px;
            font-size: 20px;
            text-decoration: none;
            }
        .post > header .time {
            display: inline-block;
            line-height: 20px;
            font-size: 16px;

        }
    .post > header> .fa {
        display: inline-block;
        float: left;
        width: 40px;
        line-height: 30px;
        text-align: center;
    }

.post > .content {
    display: inline-block;
    width: 100%;
    padding: 40px 10px;

}
.post > footer {
    display: inline-block;
    width: 100%;
    padding: 10px;
}
    .post > footer > .row {
        display: inline-block;
        width: 100%;
        padding: 10px 0px;
        border-top: 1px solid #ccc;
    }
        .post > footer .action {
            display: inline-block;
            width: 30%;
            float: left;
            text-align: center;
        }
            .post > footer .action {
                margin-left: 10px;
            
        }
        .post > footer .user-img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            border-radius: 50%;
            float: left;
            border-top: 1px solid #ccc;
        }
            .post > footer form {
                display: inline-block;
                width: calc(100% - 50px);
                float: left;
                position: relative;
            }
                .post form > textarea {
                    display: inline-block;
                    width: 100%;
                    height: 40px;
                    float: left;
                    padding: 10px 30px;
                    line-height: 20px;
                    border-radius: 20px;
                    resize: none;
                    overflow: hidden;

                }
                .post form > .actions {
                    display: inline-block;
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                }
                .post .actions> .fa {
                    display: inline-block;
                    width: 22px;
                    line-height: 20px;
                    font-size: 15px;
                    text-align: center;

                }
                
            
            